<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660250529556-eanlkc0dckgfg2tifen17ulktp72lcni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660250529556-eanlkc0dckgfg2tifen17ulktp72lcni</string>
	<key>API_KEY</key>
	<string>AIzaSyBcR-pjKdjMqfd-CC2DyMcVQKEbXWJSVrY</string>
	<key>GCM_SENDER_ID</key>
	<string>660250529556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filuet</string>
	<key>PROJECT_ID</key>
	<string>inspiration-by-filuet</string>
	<key>STORAGE_BUCKET</key>
	<string>inspiration-by-filuet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660250529556:ios:50ea872ccdc615e39d7c01</string>
</dict>
</plist>